:root{
    /* ## Colors

### Primary */

--Green: hsl(75, 94%, 57%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--DarkGrey: hsl(0, 0%, 12%);
--OffBlack: hsl(0, 0%, 8%);
}

body{
    /* font-size: 1.4rem;
    background-color: var(--OffBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0; */

    background-color: var(--OffBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0; 
    /* height: 650px;
    width: 375px; */
}
.container .cabeza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
    width: 80px; 

}
.container .cabeza img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;  

  }
  
.container{
    background-color: var(--DarkGrey);
    height: 500px;
    width: 290px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
}

.container .medio .nombre{
    color: var(--White);
    font-family: 'Inter', sans-serif;
    font-size:20px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 700;
}
.container .medio .nacionalidad{
    color: var(--Green);
    font-family: 'Inter', sans-serif;
    margin: 8px;
    font-size: 12px;
    font-weight: 600;
}
.container .medio .descripcion{
    color: var(--White);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.container .inferior {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 220px;
    width: 230px;
    margin: 5px;
}
.container .inferior .botones {
    background-color: var(--Grey);
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--White);
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.3s;
}

.container .inferior .botones:hover {
    background-color: var(--Green); 
    color: var(--OffBlack);
}

.botonPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 100%;
    margin: 5px;
    
}
.botonAgregar {
    background-color: var(--Grey);
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--White);
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.3s;
  }

.botonAgregar:hover {
    background-color: var(--Green); 
    color: var(--OffBlack);
}

.main {
    max-width: 120rem; 
    height: 100vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
}

